{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
           <h1>Description</h1>
                {{form.as_p}}
                <h3>Screenshots: </h3>
                {% if screenshots %}
                    {% for screenshot in screenshots %}
                        <img src="{{ screenshot.image.url }}" alt="Screenshot" style="width: 200px; height: 200px; display: flex; flex-direction: column;">
                    {% endfor %}
                {% else %}
                    <p>No screenshots available</p>
                {% endif %}
        </div>
    </div>
{% endblock %}
